.para{
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  font-family: 'Electrolize', sans-serif;
}
.head{
  font-family: 'Bree Serif', serif;
  text-align: center;
}
.quote{
 justify-content: center;
}
.cards{
  background-color:tomato;

}
.cards0{
  background-color:#fbb63d;

}
.cards1{
  background-color:#33b5e5;

}
.iconss{
  position: absolute;
  top:-20%;
 left: 41%;
  font-size: 50px;
  color: whitesmoke;
  background-color: tomato;
  padding-top: 13px;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 50%;
 
}
.iconss0{
  position: absolute;
  top:-20%;
 left: 41%;
  font-size: 50px;
  color: whitesmoke;
  background-color: #fbb63d;
  padding-top: 13px;
  padding-right: 13px;
  
  border-radius: 50%;
/* border-top-left-radius: 0%;
border-top-right-radius: 0%; */
 
}
.iconss1{
  position: absolute;
  top:-20%;
 left: 41%;
  font-size: 50px;
  color: whitesmoke;
  background-color: #33b5e5;
  padding-top: 13px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 50%;
}
.iconss3{

  font-size: 60px;
  padding: 10px;
  padding-left: 10px;
}
.tit{
  margin-top:20px;
}
.cards:hover{
 
  cursor: pointer;
}

  .card {
    display: inline-block;
  }
  .ents{
    /* color: white; */
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #bdbdbd ;
    padding: 15px;
  
  }

.ent{
  display: flex;
  /* overflow-x: scroll; */
  margin-left: -19px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #bdbdbd ;
  padding: 15px;
  color: black;

}
.events{
  border-radius: 20px;
 margin: 10px;
  padding: 10px;
  background-color: honeydew;
  width: 250px;
  height: auto;
}
.pic{
 margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 190px;
  border: 4px solid #bdbdbd ;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
.ent-name{
  padding-top: 12px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 600;
  font-family: 'Electrolize', sans-serif;
}

.ent-buts{
  display: block;
  margin-left: auto;
  margin-right: auto;
 padding: 5px;
 font-size: 9px;
  color: white;
  font-weight: 800;
  font-family: 'Electrolize', sans-serif;;
  
}
.ent-but:hover{
  border-style: none;
color: white;
outline-style: none;
  text-decoration: none;
  border: 2px solid #ef6c00 ;
 outline-style: none;
}
.boiard{
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  font-family: 'Electrolize', sans-serif;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
  
}


@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
  padding: 10px;
  font-size: 17px;
   color: white;
   font-weight: 800;
   background-color: #4e342e;
   font-family: 'Electrolize', sans-serif;;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
.admsn{
  background-color: #bdbdbd;
  padding: 20px;
}
.adm-head{
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  font-family: 'Electrolize', sans-serif;
}
.adm-heads{
padding-top: 15px;
  font-size: 14px;
  font-weight: 300;

  text-align: justify;
  font-family: 'Electrolize', sans-serif;

}
.five{

  /* margin: 20px; */
}
.two{
  display: none;
}



header { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
header div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 10px; }
  
}
/*  */
.bread-head{
position: absolute;
top: 20%;
margin: 20px;
text-align: center;
color:white;
font-size: 68px;
font-weight: 400;
font-family: 'Electrolize', sans-serif;
font-family: 'Bree Serif', serif;
}
/* .bread-line{
  position: absolute;
  top: 69%;
  width: 500px;

  margin-left: 25px;
 font-weight: 900;
  color: white;
} */
.bread-heads{
  position: absolute;;
  top: 35%;
  margin-left: 17px;
  padding: 20px;
  text-align: center;
  color:white;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Electrolize', sans-serif;
  
  }
.sec{
  
  background-color: #ffc107;
}
.sec-head{
  margin: 30px;
  /* padding: 20px; */
  font-size: 22px;
  color:white;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Electrolize', sans-serif;
}
.sec-but{
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff5722 ;
  color: white;
  padding: 10px;
  font-size: 17px;
   color: white;
   font-weight: 800;
}
@media screen and (max-width: 480px) {
 .phone{
   background-color: violet;
   display: inline;
 }
.iconss , .iconss0 , .iconss1{
  left: 70%;
}
.carou{
  height: 110%;
}
.logo-container:hover{
  width: 200px;
}

}


@media screen and (max-width: 1040px) {
.ent{
  overflow-x: scroll;
}
.five{
  display: none;
}
.two{
  display:inherit;

}

}
























